<!DOCTYPE html>
<html>
   <head>
      <title>ElectronLogger - Loading..</title>
      <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
      <link href="./css/styles.css" rel="stylesheet" crossorigin="anonymous">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
      <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline';img-src 'self' data:;font-src 'self' data: https:;style-src-elem 'self' data: https:;">
      <script type="text/javascript" src="./bootstrap/js/bootstrap.bundle.min.js"></script>
      <script type="text/javascript">
         var $ = global.jQuery = require('jquery');
         require('jquery-ui-dist/jquery-ui');
         require('./js/renderer.js');
      </script>
   </head>
   <body>
      <div id="loadingInterface">
         <h1>Loading..</h1>
      </div>
      <div id="packetloggerInterface" class="hidden">
         <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container-fluid">
               <a class="navbar-brand" href="#">ElectronLogger</a>
               <div class="collapse navbar-collapse">
                  <ul class="navbar-nav me-auto mb-lg-0">
                     <li class="nav-item">
                        <a class="nav-link menuLink" target-menu="connectionTab" href="#">Connection</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link menuLink" target-menu="toolsTab" href="#">Tools</a>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownInjection" data-bs-toggle="dropdown" aria-expanded="false">Injection</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownInjection">
                           <li><a class="dropdown-item menuLink" target-menu="classicInjectionTab" href="#">Classic mode</a></li>
                           <li><a class="dropdown-item menuLink" target-menu="expertInjectionTab" href="#">Expert mode</a></li>
                           <li><a class="dropdown-item disabled" href="#">Timer mode</a></li>
                           <li><a class="dropdown-item disabled" href="#">Filters</a></li>
                        </ul>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#">Script</a>
                     </li>
                  </ul>
                  <ul class="navbar-nav">
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" id="appVersion"></a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
         <main class="container" id="connectionTab">
            <center>
               <p class="display-3">
                  <strong>Just press the button and load the client <i class="far fa-smile-beam"></i></strong><br/>
                  <button type="button" class="btn btn-success" id="startLoggingButton">Start logging</button>
                  <button type="button" class="btn btn-danger hidden" id="stopLoggingButton">Stop logging</button>
               </p>
            </center>
         </main>
         <main class="container big-container hidden" id="toolsTab">
            <table class="mt-2">
               <tr>
                  <td>
                     <div class="input-group">
                        <span class="input-group-text">16-Bit</span>
                        <input type="text" id="16bitInput" class="form-control text-center" value="0">
                     </div>
                  </td>
                  <td class="text-center swap-separator">↔</td>
                  <td>
                     <div class="input-group">
                        <span class="input-group-text">Bytes</span>
                        <input type="text" id="16bitBytes" class="form-control text-center" value="[0][0]">
                     </div>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="input-group">
                        <span class="input-group-text">32-Bit</span>
                        <input type="text" id="32bitInput" class="form-control text-center" value="0">
                     </div>
                  </td>
                  <td class="text-center swap-separator">↔</td>
                  <td>
                     <div class="input-group">
                        <span class="input-group-text">Bytes</span>
                        <input type="text" id="32bitBytes" class="form-control text-center" value="[0][0][0][0]">
                     </div>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="input-group">
                        <span class="input-group-text">64-Bit</span>
                        <input type="text" id="64bitInput" class="form-control text-center" value="0">
                     </div>
                  </td>
                  <td class="text-center swap-separator">↔</td>
                  <td>
                     <div class="input-group">
                        <span class="input-group-text">Bytes</span>
                        <input type="text" id="64bitBytes" class="form-control text-center" value="[0][0][0][0][0][0][0][0]">
                     </div>
                  </td>
               </tr>
            </table>
            <table class="mt-2">
               <td style="width: 50%;">
                  <div class="table-fix-head table-tools-packet border">
                     <table class="table table-hover" id="table-tools-incoming">
                         <thead>
                           <tr>
                              <th>Incoming packet name</th>
                              <th>Id</th>
                           </tr>
                        </thead>
                        <tbody>
                        </tbody>
                     </table>
                  </div>
               </td>
               <td style="width: 50%;">
                  <div class="table-fix-head table-tools-packet border">
                     <table class="table table-hover" id="table-tools-outgoing">
                         <thead>
                           <tr>
                              <th>Outgoing packet name</th>
                              <th>Id</th>
                           </tr>
                        </thead>
                        <tbody>
                        </tbody>
                     </table>
                  </div>
               </td>
            </table>
         </main>
         <main class="container big-container hidden" id="classicInjectionTab">
            <textarea class="form-control injectionTextarea mt-3"></textarea>
            <div class="mt-1">
               <table>
                  <tr>
                     <td>
                        <button type="button" class="btn btn-success" id="injectSendClientButton" disabled>Send to Client</button>
                     </td>
                     <td>
                        <button type="button" class="btn btn-success" id="injectSendServerButton" disabled>Send to Server</button>
                     </td>
                     <td class="injectInputLengthContainer">
                        <div class="input-group has-validation">
                           <span class="input-group-text injectInputLengthSpan">Length</span>
                           <input type="text" id="injectLengthInput" class="form-control" value="0" disabled>
                        </div>
                     </td>
                     <td class="injectInputHeaderContainer">
                        <div class="input-group has-validation">
                           <span class="input-group-text injectInputHeaderSpan">Header</span>
                           <input type="text" id="injectHeaderInput" class="form-control" value="0" disabled>
                        </div>
                     </td>
                     <td>
                        <button type="button" class="btn btn-danger" id="packetCorruptedButton">✗</button>
                     </td>
                  </tr>
               </table>
            </div>
         </main>
         <main class="container big-container hidden" id="expertInjectionTab">
            <table class="mt-2">
               <tr>
                  <td style="width: 24%;">
                     <div class="input-group has-validation">
                        <span class="input-group-text injectInputLengthSpan">Header</span>
                        <input type="text" id="expertInjectHeaderInput" class="form-control" value="0">
                     </div>
                  </td>
                  <td style="width: 18%;">
                     <select class="form-select">
                       <option selected>Type</option>
                       <option value="string">String</option>
                       <option value="boolean">Boolean</option>
                       <option value="short">Short</option>
                       <option value="integer">Integer</option>
                       <option value="long">Long</option>
                     </select>
                  </td>
                  <td style="width: 47%;">
                     <input type="text" class="form-control" id="expertInjectionValueInput" placeholder="Value">
                  </td>
                  <td>
                     <button type="button" class="btn btn-success" id="expertInjectionWriteButton" disabled>Write</button>
                  </td>
               </tr>
            </table>
            <div class="table-fix-head table-expert-injection border mt-1">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Type</th>
                        <th>Value</th>
                        <th>Encoded</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>Integer</td>
                        <td>0</td>
                        <td>[0][0][0][0]</td>
                        <td>
                           <button type="button" class="btn btn-primary btn-sml"><i class="fas fa-arrow-up"></i></button>
                           <button type="button" class="btn btn-primary btn-sml"><i class="fas fa-arrow-down"></i></button>
                           <button type="button" class="btn btn-secondary btn-sml"><i class="fas fa-pen"></i></button>
                           <button type="button" class="btn btn-danger btn-sml"><i class="fas fa-times"></i></button>
                        </td>
                     </tr>
                     <tr>
                        <td>String</td>
                        <td>Hello</td>
                        <td>[0][5]Hello</td>
                        <td>
                           <button type="button" class="btn btn-primary btn-sml"><i class="fas fa-arrow-up"></i></button>
                           <button type="button" class="btn btn-primary btn-sml"><i class="fas fa-arrow-down"></i></button>
                           <button type="button" class="btn btn-secondary btn-sml"><i class="fas fa-pen"></i></button>
                           <button type="button" class="btn btn-danger btn-sml"><i class="fas fa-times"></i></button>
                        </td>
                     </tr>
                     <tr>
                        <td>Long</td>
                        <td>9223372036854775807</td>
                        <td>ÿÿÿÿÿÿÿ</td>
                        <td>
                           <button type="button" class="btn btn-primary btn-sml"><i class="fas fa-arrow-up"></i></button>
                           <button type="button" class="btn btn-primary btn-sml"><i class="fas fa-arrow-down"></i></button>
                           <button type="button" class="btn btn-secondary btn-sml"><i class="fas fa-pen"></i></button>
                           <button type="button" class="btn btn-danger btn-sml"><i class="fas fa-times"></i></button>
                        </td>
                     </tr>
                     <tr>
                        <td>Boolean</td>
                        <td>false</td>
                        <td>[0]</td>
                        <td>
                           <button type="button" class="btn btn-primary btn-sml"><i class="fas fa-arrow-up"></i></button>
                           <button type="button" class="btn btn-primary btn-sml"><i class="fas fa-arrow-down"></i></button>
                           <button type="button" class="btn btn-secondary btn-sml"><i class="fas fa-pen"></i></button>
                           <button type="button" class="btn btn-danger btn-sml"><i class="fas fa-times"></i></button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <table class="mt-1">
               <tr>
                  <td style="width: 55%;">
                     <div class="input-group has-validation">
                        <span class="input-group-text injectInputLengthSpan">Output&nbsp;<a href="#"><i class="far fa-copy"></i></a></span>
                        <input type="text" id="expertInjectHeaderInput" class="form-control" value="">
                     </div>
                  </td>
                  <td>
                     <button type="button" class="btn btn-success" id="expertInjectSendClientButton" disabled>Send to Client</button>
                  </td>
                  <td>
                     <button type="button" class="btn btn-success" id="expertInjectSendClientButton" disabled>Send to Server</button>
                  </td>
               </tr>
            </table>
         </main>
         <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark footer-navbar">
            <div class="container-fluid">
               <div class="collapse navbar-collapse">
                  <ul class="navbar-nav me-auto mb-lg-0">
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                           <span id="packetLoggerFooterState" class="badge bg-secondary">Ready</span>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                           <span id="packetLoggerUpdateState" class="badge bg-primary hidden"></span>
                        </a>
                     </li>
                  </ul>
                  <ul class="navbar-nav">
                     <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" id="externalDiscordButton">Discord</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" id="externalGithubButton">GitHub</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>
   </body>
</html>