<!DOCTYPE html>
<html>
   <head>
      <title>ElectronLogger - Loading..</title>
      <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
      <link href="./css/styles.css" rel="stylesheet" crossorigin="anonymous">
      <script type="text/javascript" src="./bootstrap/js/bootstrap.bundle.min.js"></script>
      <script type="text/javascript">
         var $ = global.jQuery = require('./js/jquery-3.5.1.min');
         require('./js/renderer.js');
      </script>
   </head>
   <body>
      <div id="loadingInterface">
         <h1>Loading..</h1>
      </div>
      <div id="packetloggerInterface" class="hidden">
         <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container-fluid">
               <a class="navbar-brand" href="#">ElectronLogger</a>
               <div class="collapse navbar-collapse">
                  <ul class="navbar-nav me-auto mb-lg-0">
                     <li class="nav-item active">
                        <a class="nav-link" href="#" id="connectionTabButton">Connection</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Tools</a>
                     </li>
                     <li class="nav-item active">
                        <a class="nav-link" href="#" id="injectionTabButton">Injection</a>
                     </li>
                  </ul>
                  <ul class="navbar-nav">
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">v1.0</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
         <main class="container" id="connectionTab">
            <center>
               <p class="display-3">
                  Just press the button and load the client ☺<br/>
                  <button type="button" class="btn btn-success" id="startLoggingButton">Start logging</button>
                  <button type="button" class="btn btn-danger hidden" id="stopLoggingButton">Stop logging</button>
               </p>
            </center>
         </main>
         <main class="container hidden" id="injectionTab">
            <textarea class="form-control injectionTextarea"></textarea>
            <div class="injectButtons">
               <button type="button" class="btn btn-success" id="injectSendClientButton">Send to Client</button>&nbsp;
               <button type="button" class="btn btn-success" id="injectSendServerButton">Send to Server</button>
            </div>
         </main>
         <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark footer-navbar">
            <div class="container-fluid">
               <div class="collapse navbar-collapse">
                  <ul class="navbar-nav me-auto mb-lg-0">
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                           <span id="packetLoggerFooterState" class="badge bg-secondary">Ready</span>
                        </a>
                     </li>
                  </ul>
                  <ul class="navbar-nav">
                     <li class="nav-item">
                        <a class="nav-link" href="#" id="externalDiscordButton">Discord</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" id="externalGithubButton">GitHub</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>
   </body>
</html>