.footer-navbar {
	height: 32px;
}

.hidden {
	display: none;
}

::selection {
	color: none;
	background: none;
}

textarea::selection {
	color: white;
	background: #212529;
}

input::selection {
	color: white;
	background: #212529;
}

.big-container {
	max-width: 100%;
}

.injectionTextarea {
	width: 100%;
	margin-top: 14px;
	resize: none;
	height: 200px;
}

.injectButtons {
	margin-top: 5px;
}

#packetCorruptedButton {
	width: 38px;
}

.injectInputLengthContainer {
	width: 136px;
}

.injectInputHeaderContainer {
	width: 135px;
}

.injectInputLengthSpan {
	padding: 0.375rem .68rem;
}

.injectInputHeaderSpan {
	padding: 0.375rem .6rem;
}

.text-center {
	text-align: center;
}

.swap-separator {
	width: 35px;
	font-size: 24px;
}